{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/children">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="hmcts-add-another">

<h1 class="govuk-heading-xl hmcts-add-another__heading" tabindex="-1">Your children</h1>



<form method="post">

<fieldset class="govuk-fieldset hmcts-add-another__item">

  <legend class="govuk-fieldset__legend hmcts-add-another__title  govuk-fieldset__legend--m">
    Child
  </legend>

  <div class="govuk-form-group">


    <label class="govuk-label" for="questions[0][subject]">
      Full name
    </label>
    <input class="govuk-input" id="questions[0][subject]" name="questions[0][subject]" type="text" data-name="questions[%index%][subject]" data-id="questions[%index%][subject]">
  </div>


        <legend class="govuk-fieldset__legend hmcts-add-another__title  govuk-fieldset__legend--m">
          Childs date of birth
        </legend>
      <span id="dob-hint" class="govuk-hint">
        For example, 31 3 1980
      </span>
      <div class="govuk-date-input" id="dob">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>

<br>
<br>


      <br>


</fieldset>

<div class="hmcts-button-action">

  <button type="submit" class="govuk-button hmcts-button--secondary  hmcts-add-another__add-button  govuk-!-margin-bottom-4">
    Add another child
  </button>

</div>

<div class="hmcts-button-action">

  <a href="/pets" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Continue</a>

</div>

</form>

</div>


    </div>
  </div>

{% endblock %}
